<h1>London Boroughs</h1>

<table>
  <thead>
    <tr>
      <th>HTTP</th>
      <th>Endpoint</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>GET</td>
      <td>/boroughs</td>
    </tr>
    <tr>
      <td>POST</td>
      <td>/boroughs</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/boroughs/new</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/boroughs/:id/edit</td>
    </tr>
    <tr>
      <td>GET</td>
      <td>/boroughs/:id</td>
    </tr>
    <tr>
      <td>PATCH</td>
      <td>/boroughs/:id</td>
    </tr>
    <tr>
      <td>PUT</td>
      <td>/boroughs/:id</td>
    </tr>
    <tr>
      <td>DELETE</td>
      <td>/boroughs/:id</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<%= link_to "View boroughs >>", boroughs_path %>
